<footer>
  <div class="footer-body coustom-bg-light">
    <div class="container">
      {% comment %} <div class="row p-3">
        <div class="col-md-3">
          <div class="d-flex flex-column lh-lg">
            <h5 class="text-success footer-brand-text" href="#"><span class="text-danger">B</span>logs</h5>
            <p class="reduce-font-size m-0">Dhaka, Bangladesh</p>
            <div>
              <a href="/"><i class="fa-brands fa-facebook fa-beat"></i></a>
              <a href="/"><i class="fa-brands fa-youtube fa-bounce"></i></a>
              <a href="/"><i class="fa-brands fa-instagram fa-spin"></i></a>
              <a href="/"><i class="fa-brands fa-twitter fa-shake"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex flex-column lh-lg">
            <a class="reduce-font-size opacity-75" href="">Privacy Policy</a>
            <a class="reduce-font-size opacity-75" href="">Content Policy</a>
            <a class="reduce-font-size opacity-75" href="/">Comment Policy</a>
            <a class="reduce-font-size opacity-75" href="">Authorize Policy</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex flex-column lh-lg">
            <a class="reduce-font-size d-flex flex-column opacity-75" href="/">Home</a>
            <a class="reduce-font-size opacity-75" href="/">About Us</a>
            <a class="reduce-font-size opacity-75" href="/">Contact Us</a>
            <a class="reduce-font-size opacity-75" href="/">Advertisement</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="d-flex flex-column lh-lg">
            <a class="reduce-font-size d-flex flex-column opacity-75" href="/">Gallery</a>
            <a class="reduce-font-size d-flex flex-column opacity-75" href="/">Archives</a>
            <a class="reduce-font-size opacity-75" href="/">Newsletter</a>
            <a class="reduce-font-size d-flex flex-column opacity-75" href="/">Conference Hall</a>
          </div>
        </div>
        <br />
        <hr />
        <div class="text-center">
          <p class="reduce-font-size opacity-50">&#9400;Copywrite 2023</p>
        </div>
      </div> {% endcomment %}
      <div class="row p-3 text-center">
        <div class="col-md-4">
          <p class="reduce-font-size opacity-50">&#9400; Blogs 2023</p>
        </div>
        <div class="col-md-4">
          <div>
            <a href="/"><i class="fa-brands fa-facebook fa-beat"></i></a>
            <a href="/"><i class="fa-brands fa-youtube fa-bounce"></i></a>
            <a href="/"><i class="fa-brands fa-instagram fa-spin"></i></a>
            <a href="/"><i class="fa-brands fa-twitter fa-shake"></i></a>
          </div>
        </div>
        <div class="col-md-4 reduce-font-size text-center opacity-50">
          <i class="fa-solid fa-angle-up"></i> Back To Top
        </div>
      </div>
    </div>
  </div>
</footer>
